[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext
string_mask = utf8only
utf8 = yes
oid_section = new_oids

[ new_oids ]
organizationIdentifier = 2.5.4.97

[ dn ]
C = DE
O = Startup GmbH
OU = Payment Hub
organizationIdentifier = NTRDE-HRB423456
CN = Startup GmbH-Department3

[ req_ext ]
basicConstraints = critical,CA:false
keyUsage = critical,digitalSignature,contentCommitment